.App {
    text-align: center;
}

/* * {
    background-color: #1e90ff;
} */

*:focus {
    outline: 3px solid #f90;
    /* Use any color you want here */
}

.div>menu>header {
    color: #7d1603;
}

.div>menu>header>div {
    color: #b1e5ed;
}